{% extends 'base/base_template.html' %}

{% block title %}Викторина{% endblock %}
{% block content %}

<div class="bg-[#2D3E40] rounded-xl p-6 shadow-lg" id="quiz-screen">
    {% if poll.code %}
    <div class="code-editor mb-4 p-2">
        <pre style="overflow-x: auto; white-space: pre-wrap;"><code
                class="language-python p-0">{{ poll.code|escape }}</code></pre>
    </div>
    {% endif %}

    <div class="mb-8">
        <h2 class="text-xl font-semibold mb-4 text-[#FEFFFF]" id="question">
        {{ poll.quest }}
            <br>
        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
            {{ poll.level }}
        </span>
        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800">
            #{{ poll.pk }}
        </span>
        </h2>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8" id="options">
        {% for answer in poll.answers %}
        <div class="option bg-[#3D4F52] rounded-lg p-4 cursor-pointer transition-all duration-300 hover:bg-[#4A5F63]"
             data-index="{{ forloop.counter0 }}" id="btn_answer" onclick="chk_answer('{{ poll.pk }}', '{{ forloop.counter0 }}')">{{ answer }}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
