TOKEN=токен телеграмм бота
ENV_SECRET_KEY=секретный ключ приложения
ENV_DEBUG=True
ENV_NAME=имя бд
ENV_USER=postres
ENV_PASSWORD=пароль бд
ENV_HOST=localhost
ENV_PORT=5432
ALLOWED_HOSTS=127.0.0.1,localhost
TEXT_COINS_CARD=текст для пожертвований