{% load static %}
<header class="flex flex-col items-center mb-8">
    <div class="logo-python w-24 h-24 rounded-full flex items-center justify-center mb-4">
        <img class="icon" src="{% static 'icons/python-svgrepo-com.svg' %}" alt="dots icon">
    </div>
    <h1 class="text-4xl font-bold text-center">
        <span class="text-[#F6C32C]">Python</span>
        <span class="text-[#FEFFFF]">Викторина</span>
    </h1>
    <p class="text-gray-300 mt-2 text-center">
        Проверь свои знания Python!
        <br>
        <a id="name_tg"></a>
    </p>
</header>